# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Power BI cache
*.pbix.autosave